<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>心有灵犀</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./Public/css/zaly.css" />

</head>

<body ontouchstart="" class="zaly-body">

<div class="wrapper">
    <div class="d-flex flex-column" style="margin-bottom: 40px;">
        <div class="p-2 d-flex justify-content-center">
            <label class="zaly-title">心有灵犀</label>
        </div>
        <div class=" d-flex justify-content-center zaly-sub-title-margin">
            <label class="zaly-sub-title">一点通</label>
        </div>
        <div class="p-2 d-flex justify-content-center">
            <a href="<?php echo $href_url;?>" class="btn zaly-border zaly-btn new_game">开启新的一局</a>
        </div>
    </div>
</div>

</body>

</html>
