<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>心有灵犀</title>
    </title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.css" />
</head>

<body ontouchstart="" class="zaly-body">
<div class="weui-cells zaly-body">
    <div class="weui-cells zaly-body">
        <div class="weui-cell">
            我发起了一场心有灵犀：四猜一
            <a href="javascript:;" class="weui-btn weui-btn_primary">来猜我的神秘数字吧</a>
        </div>

    </div>
</div>

</body>

</html>