<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>心有灵犀</title>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://192.168.3.43:5160/Public/css/zaly_web.css" /> </head>
    <link rel="stylesheet" href="http://192.168.1.102:5160/Public/css/zaly_web.css" /> </head>

<body ontouchstart="">
<div class="d-flex flex-column ">
    <div class="p-2 d-flex   zaly-margin-16px justify-content-center">
        <label style="text-align: center;">我发起了一场心有灵犀：四猜一</label>
    </div>
    <div class="p-2 d-flex justify-content-center">
        <button type="button" class="btn zaly-btn zaly-btn-font">来猜我的神秘数字吧</button>
    </div>
</div>
</body>

</html>