<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>心有灵犀</title>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <style >
        body, html {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
            background-color: #F7CCE8;
            font-size: 10px;
        }
        .zaly-lable-fail{
            width:137px;
            height:23px;
            font-size:14px;
            font-family:STYuanti-SC-Regular;
            color:rgba(0,0,0,0.54);
            line-height:20px;
        }
        </style>
</head>
<body ontouchstart="">
    <div class="p-2 d-flex  justify-content-center">
        <p class="zaly-lable-fail">我猜是：5 猜错了！</p>
    </div>
</body>

</html>